In [1]:
from google.cloud import bigquery
from google.cloud import storage
import pandas as pd
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS']='housedata-311508-48f12327179d.json'

In [2]:
bigquery_client = bigquery.Client(project='housedata-311508')

In [6]:
df= pd.read_csv('gs://housedatabucket/home_data.csv')

In [7]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [10]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

---
PLEASE IGNORE ALL THE LINE BELOW. THOSE ARE JUST DIFFERENT WAYS I TRIED TO CONNECT GCP. THE ONE ABOVE WORKS. I WILL BE CLEANUP THESE IN MILESTONE 2
---

In [ ]:
bucket_name = "housedatabucket"

In [ ]:
storage_client = storage.Client()
bucket = storage_client.get_bucket(bucket_name)

In [ ]:
blobs = bucket.list_blobs()

In [ ]:
QUERY = """ SELECT * FROM housedata-311508.housedata.home_data.csv"""

In [6]:
QUERY

' SELECT * FROM housedata-311508.housedata.home_data.csv'

In [7]:
query_job = bigquery_client.query(QUERY)

In [8]:
query_job

In [9]:
df = query_job.to_dataframe()

BadRequest: 400 Invalid project ID 'housedata-311508.housedata'. Project IDs must contain 6-63 lowercase letters, digits, or dashes. Some project IDs also include domain name separated by a colon. IDs must start with a letter and may not end with a dash.

(job ID: 8570854d-7cc8-4cc1-bb20-b43a6e2deda0)

              -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |
   1: SELECT * FROM housedata-311508.housedata.home_data.csv
    |    .    |    .    |    .    |    .    |    .    |