In [1]:
from google.cloud import bigquery
from google.cloud import storage
import pandas as pd
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS']='housedata-311508-48f12327179d.json'

In [2]:
bigquery_client = bigquery.Client(project='housedata-311508')

In [6]:
df= pd.read_csv('gs://housedatabucket/home_data.csv')

In [7]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [10]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [11]:
df.shape

(21613, 21)

There are 70 different unique zipcodes from 21613 rows

In [13]:
df.zipcode.nunique()

70

### Lets try to answer out of dataset of 21613 houses, how many number of bedrooms these houses have.

The result shows us the most houses are 3 or 4 bedroom houses. We have 9824 three bedroom houses in Washington and 6882 Four Bedroom houses in Washington.

In [17]:
df.bedrooms.value_counts()

3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
8       13
0       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

### Let find mean and median of each colomn of this data set.

In [22]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

### Since most house are 3 or 4 bedroom. Lets see average price different of 3 bedroom house vs 4 bedroom house in Washington.

In [29]:
df_3bedroom = df.loc[(df.bedrooms == 3) & (df.price.notnull())]
df_3bedroom.shape

(9824, 21)

In [30]:
df_4bedroom = df.loc[(df.bedrooms == 4) & (df.price.notnull())]
df_4bedroom.shape

(6882, 21)

Mean 3 bedroom house price

In [31]:
df_3bedroom.price.mean()

466232.07949918567

Mean 3 bedroom house price

In [32]:
df_4bedroom.price.mean()

635419.5050857309

In [ ]:
This concludes that on average/mean 4 bedroom house holds 169187 dollars more value than 3 bedroom houses in Washington.

In [33]:
df_4bedroom.price.mean() - df_3bedroom.price.mean()

169187.42558654526

---
PLEASE IGNORE ALL THE LINE BELOW. THOSE ARE JUST DIFFERENT WAYS I TRIED TO CONNECT GCP. THE ONE ABOVE WORKS. I WILL BE CLEANUP THESE IN MILESTONE 2
---

In [ ]:
bucket_name = "housedatabucket"

In [ ]:
storage_client = storage.Client()
bucket = storage_client.get_bucket(bucket_name)

In [ ]:
blobs = bucket.list_blobs()

In [ ]:
QUERY = """ SELECT * FROM housedata-311508.housedata.home_data.csv"""

In [6]:
QUERY

' SELECT * FROM housedata-311508.housedata.home_data.csv'

In [7]:
query_job = bigquery_client.query(QUERY)

In [8]:
query_job

In [9]:
df = query_job.to_dataframe()

BadRequest: 400 Invalid project ID 'housedata-311508.housedata'. Project IDs must contain 6-63 lowercase letters, digits, or dashes. Some project IDs also include domain name separated by a colon. IDs must start with a letter and may not end with a dash.

(job ID: 8570854d-7cc8-4cc1-bb20-b43a6e2deda0)

              -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |
   1: SELECT * FROM housedata-311508.housedata.home_data.csv
    |    .    |    .    |    .    |    .    |    .    |